body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

#main-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 150px;
}

#section-container1 {
  width: 65%;
}

.form-floating {
  margin-bottom: 40px;
}

#section-container2 {
  width: 30%;
  margin-left: 5%;
  position: fixed;
  right: 0;
}

.items {
  margin: 40px 0;
}

.list-group-item {
  padding: 40px 0;
  text-align: center;
}

.order-button {
  margin-top: 40px;
}
