.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  width: 100%;
  height: 50px;
}

.card-text {
  width: 100%;
  height: 100px;
}

.card-footer {
  text-align: center;
}

.card-price {
  text-align: center;
  text-decoration: bold;
  font-size: 1.3em;
  height: 30px;
}
