#order-container {
  width: 30vw;
  height: 80vh;
  margin-left: 5em;
  position: fixed;
  right: 0.3em;
  bottom: 0;
  display: flex;
  flex-direction: column;
  // align-content: stretch;
}

.order-header {
  height: 4em;
  padding: 1em;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.message-to-customer {
  text-align: center;
  font-size: 1.2em;
  margin-top: 5em;
}

.item-list {
  width: 94%;
  height: 32em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-table {
  table-layout: fixed;
  margin: 0.2em;
}

.order-item-name {
  width: 60%;
}

.order-quantity {
  width: 20%;
  text-align: right;
}

.order-price {
  width: 20%;
  text-align: right;
}

.order-footer {
  width: 30vw;
  height: 20vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.customer-note {
  width: 30vw;
  padding: 0.5em;
  bottom: 5em;
}

.order-button {
  margin: 0.5em;
  // position: fixed;
  bottom: 0;
  margin-left: auto;
}

.tip {
  padding-left: 1em;
}

#tip {
  width: 3em;
  border: none;
  border-bottom: salmon solid;
}

#clear-cart {
  background-color: lightsalmon;
  display: flex;
  align-items: center;
}

#order-now{
  display: flex;
  justify-content: center;
}
