#order-container {
  width: 30vw;
  height: 80vh;
  margin-left: 5em;
  position: fixed;
  right: 0.3em;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.order-header {
  height: 4em;
  padding: 1em;
}

.order-table {
  width: 98%;
  table-layout: fixed;
  margin: 0.2em;
}

.order-item-name {
  width: 60%;
}

.order-quantity {
  width: 20%;
  text-align: right;
}


.order-price {
  width: 20%;
  text-align: right;
}

.items {
  margin: 40px 0;
}

.list-group-item {
  padding: 40px 0;
  text-align: center;
}

.order-footer {
  width: 30vw;
  height: 20vh;
  position: fixed;
  bottom: 1em;
  // padding: 0.5em;
}

.customer-note {
  width: 29vw;
  padding: 1em;
}

.order-button {
  margin-top: 0.3em;
  bottom: 0;
  right: 0em;
}
