.register-main {
  margin-top: 130px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.register-form container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.register-left {
  width: 45%;
  margin-right: 5%
}

.register-right {
  width: 45%;
  margin-left: 5%
}

.register-button {
  left: 50%;
}